if BOARD_PLYTA

config SERIAL
    default y

config UART_NS16550
    default y

config CONSOLE
    default y

config UART_CONSOLE
    default y

config TICKLESS_KERNEL
    default y
config UART_INTERRUPT_DRIVEN
    default y



endif # BOARD_PLYTA
