config SOC_SKIETA
	select RISCV
	select RISCV_ISA_RV32I
	select RISCV_ISA_BASE_FENCE
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZICNTR
	select RISCV_MACHINE_TIMER
	select RISCV_PRIVILEGED
	select RISCV_HAS_PLIC
	select INCLUDE_RESET_VECTOR

if SOC_SKIETA

endif
